.clear-both{clear: both;}
.ow-container .bold{font-weight: bold;}
.ow-container{font-family: 'Raleway', sans-serif; line-height: 150%; color: #2e3436; width: 1024px}

.ow-container .title{display: table}
.ow-container .city1, .ow-container .city2, .ow-container .city3{display: table-cell; width: 50px; height: 50px;}
.ow-container .city-name{display: table-cell; padding-left: 10px; padding-right: 30px; vertical-align: middle}
.ow-container .city1{background-color: #63ff75;}
.ow-container .city2{background-color: #00e5ff;}
.ow-container .city3{background-color: #ffa8a8;}

.ct-series-a .ct-bar, .ct-series-a .ct-line{stroke: #63ff75;}
.ct-series-a .ct-point{stroke: #0CC162;}
.ct-series-b .ct-bar, .ct-series-b .ct-line{stroke: #00e5ff;}
.ct-series-b .ct-point{stroke: #00b9ed;}
.ct-series-c .ct-bar, .ct-series-c .ct-line{stroke: #ffa8a8;}
.ct-series-c .ct-point{stroke: #f44646;}

.ow-forecast-chart .ct-label.ct-vertical.ct-start {
    color: #000000;
}
.ow-forecast-chart .ct-label.ct-horizontal.ct-end {
    color: #000000;
    display: block;
    overflow: visible !important;
    white-space: nowrap;
    transform: rotate(-90deg);
    text-align: left;
    max-height: 1.5em;
    margin-left: -85px;
    padding-top: 155px;
}

